p
{
    margin-top: 40px;
}

#navbar
{
    color: #140B32;
}

.btn
{
    background-color: #FDEED5;
    color: #140B32;
    margin-top: 40px;
}

.lesson-banner
{
    margin-top: 40px;
}

h5
{
    margin-top: 40px;
}